click==6.7
cloudinary==1.8.0
Flask==0.12.2
Flask-PyMongo==0.5.1
get==0.0.0
itsdangerous==0.24
Jinja2==2.9.6
jsonify==0.5
MarkupSafe==1.0
mock==2.0.0
pbr==3.1.1
post==0.0.0
public==0.0.0
pymongo==3.5.1
query-string==0.0.0
request==0.0.0
setupfiles==0.0.50
six==1.10.0
urllib3==1.22
Werkzeug==0.12.2
